* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin-top: 50px;
}
.container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 448px;
  margin: auto;
  background-color: rgb(227, 226, 226);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 30px 30px 30px rgba(0, 0, 0, 0.1),
    50px 50px 50px rgba(0, 0, 0, 0.1);
}
@media (max-width: 448px) {
  .container {
    height: 100%;
    border-radius: unset;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
  margin-bottom: 20px;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

header button {
  padding: 1rem;
  border: none;
  background-color: rgb(227, 226, 226);
  border-radius: 0.5rem;
  box-shadow: inset 10px 10px 10px rgba(186, 187, 187, 0.216),
    inset 12px 12px 12px rgba(186, 187, 187, 0.216),
    inset -10px -10px 10px rgba(241, 244, 244, 0.777),
    inset -12px -12px 12px rgba(241, 244, 244, 0.777);
}

header div button i {
  font-size: 1.5rem;
  font-weight: 900;
  font-weight: bold;
  padding: 0.4rem;
}
header div:nth-child(3) i {
  color: red;
}

h1 {
  font-size: 18px;
  font-weight: 900;
}

main {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main div {
  margin-top: 25px;
}
main h2 {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
}
main span {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 900;
  color: gray;
}

img {
  width: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;

  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.3), -6px 6px 6px rgba(0, 0, 0, 0.3),
    6px -6px 6px rgba(255, 255, 255, 0.9), 6px -6px 6px rgba(255, 255, 255, 0.9);
}

.loading {
  display: flex;
  border: 1px solid rgba(63, 63, 63, 0.2);
  justify-content: start;
  width: 80%;
  height: 10px;
  margin: auto;
  border-radius: 20px;
}
.loading div:nth-child(1) {
  padding-left: 100%;

  background: rgb(136, 210, 218);
  background: linear-gradient(
    90deg,
    rgba(136, 210, 218, 1) 8%,
    rgba(114, 194, 230, 1) 20%,
    rgba(92, 164, 210, 1) 50%,
    rgba(124, 228, 228, 1) 71%,
    rgba(255, 255, 255, 1) 72%
  );
}

.loading div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.media-Playback {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

footer button {
  padding: 0.5rem;
  border: none;
  background-color: rgb(227, 226, 226);
  border-radius: 1.2rem;
  box-shadow: -5px 5px 5px #bbbaba, 5px -5px 5px #eeebeb;
}
footer i {
  font-size: 2.3rem;
  font-weight: 900;
  font-weight: bold;
  padding: 0.4rem;
}

footer .media-Playback #play i {
  font-size: 2.5rem;
  padding: 5px;
  color: rgb(87, 218, 218);
}

footer #play {
  box-shadow: inset -10px 10px 17px #cacaca, inset 10px -10px 17px #f6f6f6;
}

.linie {
  display: flex;
  margin: 50px auto;
  width: 55%;
  height: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  box-shadow: inset -2px 2px 2px rgba(0, 0, 0, 0.3),
    inset -2px 2px 2px rgba(0, 0, 0, 0.3), inset -2px 2px 2px rgba(0, 0, 0, 0.3),
    inset 2px -2px 2px rgba(255, 255, 255, 0.1),
    inset 2px -2px 2px rgba(255, 255, 255, 0.1),
    inset 2px -2px 2px rgba(255, 255, 255, 0.1);
}
@media (max-width: 900px) {
  .container {
    width: 500px;
  }
}

iframe {
  display: none;
}
